# Virtual environment
venv/
.venv/
env/

# Rasa models (trop lourds, régénérables avec rasa train)
models/
*.tar.gz

# Rasa cache
.rasa/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
